// Custom styles.
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
  	background:url(/images/background.jpeg);
    background-attachment: scroll; // background-attachment :定义背景图片随滚动轴的移动方式
  // 取值: scroll | fixed | inherit
  // scroll: 随着页面的滚动轴背景图片将移动
  // fixed: 随着页面的滚动轴背景图片不会移动
  // inherit: 继承初始值: scroll
  // 继承性: 否
  // 适用于: 所有元素
}